//- module
//- #[a(href="/full_timeline.html",target="blank") (按此打開完整時間表 )]
.section.section-news.bg-dark.text-light#news: .inner
  include collaction_fetch.jade

  h1.text-center.mb-0
        | Latest News
      p.lead.text-center
        a(href='https://www.collaction.hk/s/extradition/objective', target='blank')
          small Powered by Collaction

      #articles.py-3

